# Node modules
node_modules/

# Build files
packages/*/lib/

.cache/
cache/
.temp/
dist/
.yarn*
yarn*

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache


# VS Code Config file
# .vscode/

# Rollup Cache
.rollup.cache/

# Typescript build info
*.tsbuildinfo

# Coverage Files
coverage/

# macOS
.DS_Store

# VSCode settings
.vscode/settings.json

# Wrangler temp files
.wrangler

.idea

components.d.ts
