name: 'pr-markdownlint'

on:
  pull_request_target:
    paths: ['**/*.md']

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: npx markdownlint-cli "**/*.md" --ignore "docs/index.md" --fix
      - uses: parkerbxyz/suggest-changes@v2
        with:
          comment: 'Please commit the suggested changes from markdownlint.'
          event: 'COMMENT'
